In [1]:
import pyspark

In [2]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/05/18 16:20:33 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark

In [4]:
import pandas as pd
import numpy as np

In [29]:
lan_dataframe = pd.DataFrame(dict(language=('python','SQL','Tableau')))
lan_dataframe

  language
0   python
1      SQL
2  Tableau

In [30]:
df = spark.createDataFrame(lan_dataframe)

In [31]:
df

DataFrame[language: string]

In [34]:
lan_dataframe.shape()

TypeError: 'tuple' object is not callable